@use 'variables' as *;
@use 'media' as *;

.footer {
    padding-block: 30px;
    background-color: $footer-bg;
    color: $white;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
            gap: 25px;
        }
        & > *:not(:last-child) {
            position: relative;
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: -50px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 18px;
                background-color: $payment-method;
                @include laptop {
                    display: none;
                }
            }
        }
    }

    &__copyright {
        @include tablet {
            max-width: 132px;
        }
        @include mobile {
            max-width: unset;
            order: 3;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
        
        .payment-methods__item {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $payment-method;
        }
        .socials__link {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
        }
    }
    .payment-methods {
        @include mobile-s {
            gap: 0;
            width: 100%;
            justify-content: space-between;
        }
    }
    .socials {
        @include tablet {
            flex-direction: column;
            gap: 10px;
            align-items: end;
        }
        @include mobile {
            align-items: center;
        }
    }
}