// Variables

// Sizes

// Colors
$white: #fff;
$black: #000;
$color-text: #2A2B30;
$color-accent: #3E9CDC;
$header-bg: rgb(16 16 29 / 0.9);
$payment-method: #C3C3C3;
$footer-bg: #3D4050;
$button-border: #6F6D7B;

// General
$base-font: 'Lato', sans-serif;
